body {
    width: 100%;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
        background: linear-gradient(
            65deg,
            red 0%,
            white 20%, 
            white 80%,
            blue 100%);
}

.container {
    display: inline-block;
    width: 800px;
    margin-left: calc(50% - 400px);
}
.main {
    margin-top: 60px;
}
.main > .container + .container {
    margin-top: 60px;
}
.brand-list{
    display: flex;
    gap: 40px;
    justify-content: center;
    border: 1px solid red;
}
.main-footer{
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
    align-items: center;
}
.main-footer .socials{
    display: flex;
    gap: 5px;
}
.main-footer .socials>a{
    padding: 10px;
    text-decoration:none;
    font-size: 20px;
    color: blue;
}
.main-footer .socials>a:hover{
    color: aliceblue;
    background-color: blue;
}