body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

.container {
    display: inline-block;
    width: 800px;
    margin-left: calc(50% - 400px);
}
.main {
    margin-top: 60px;
}
.main > .container + .container {
    margin-top: 60px;
}