body {
    background-color: aqua;
    margin: 0;
}

header,
main>section:nth-child(1),
main>section:nth-child(2){
    display: inline-block;
    width: 800px;
    margin-left: calc(50% - 400px);
    


}

main{ margin-top: 60px;

}

main>section + section{
    margin-top: 60px;
}
 div{float: left;
    width: 35%;

}

section>img{float: right;
    width: 55%;
    background-color: blue;

}

header{background-color: bisque;}
main{background-color: rgb(16, 157, 117);}
section:nth-child(1){background-color: orange;}
section:nth-child(2){background-color: green;}
